<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categoria</title>
</head>
<body>

<h2>Formulario Categoria</h2>

<form th:action="@{/categorias/guardar}"
      th:object="${categoria}"
      method="post">

    <input type="hidden" th:field="*{id}">

    Nombre:

    <input type="text"
           th:field="*{nombre}">

    <br><br>

    <button type="submit">
        Guardar
    </button>

</form>

<br>

<a href="/categorias">
Volver
</a>

</body>
</html>