<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Categorias</title>
</head>
<body>

<h2>Listado Categorias</h2>

<a href="/categorias/nuevo">
Nueva Categoria
</a>

<br><br>

<table border="1">

<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Acciones</th>
</tr>

<tr th:each="c : ${categorias}">

    <td th:text="${c.id}"></td>

    <td th:text="${c.nombre}"></td>

    <td>

        <a th:href="@{/categorias/editar/{id}(id=${c.id})}">
            Editar
        </a>

        |

        <a th:href="@{/categorias/eliminar/{id}(id=${c.id})}">
            Eliminar
        </a>

    </td>

</tr>

</table>

</body>
</html>